//Global Container
//TO show share buttons we need to add .show--share
.container
	//Share Buttons and Language Buttons
	include _lang-socials

	//Generator container
	.container__generator
		//Result Block
		include _result-block

		//Setting Block
		include _settings-block
//Footer
include _footer