//Global Container
.container
	//Share Buttons and Language Buttons
	.container__globals
		ul.globals__lang
			li.lang__item
				button.globals__btn Рус
				button.globals__btn Eng
		//Вырвнивается с помощью float, при наведении просто выезжает блок через margin: left
		.socials
			ul.socials__list
				li.list__item
					button.globals__btn.btn--socials.btn--fb Facebook
				li.list__item
					button.globals__btn.btn--socials.btn--tw Twitter
				li.list__item
					button.globals__btn.btn--socials.btn--vk Vkontakte
			button.globals__btn.btn--socials_open Поделиться
	//Generator container
	.container__generator
		.generator__result
			h1.h1 Генератор водяных знаков
			.result__block
				.block__root
					img.root__image(src = 'images/', alt = "картинка")
				//Если один вотермарк
				.block__watermark
					img.watermark__image(src = 'images/', alt = "картинка")
				//Если два вотермарка
				table.block__watermark.watrmark--table
					body.watrmark--table__body
						tr.watrmark--table__raw
							td.watrmark--table__cell
								img.watermark__image(src = 'images/', alt = "картинка")
							td.watrmark--table__cell
								img.watermark__image(src = 'images/', alt = "картинка")
						tr.watrmark--table__raw
							td.watrmark--table__cell
								img.watermark__image(src = 'images/', alt = "картинка")
							td.watrmark--table__cell
								img.watermark__image(src = 'images/', alt = "картинка")
		//Setting Block
		.generator__settings
			h2.h2 Настройки
			//Отправляем/получаем данные через ajax
			form.settings__form&attributes({
				action: "#",
				method: "post"
			})
				fieldset.form__block
					.form__upload-block
						label.p Исходное изображение
						.upload-block__wrap
							//Стилизуем загрузку
							.upload-block__style
								.form__input.style__input Image.png
								.btn.btn--red.btn--upload
							//Само поле загрузки, opacity: 0
							input.form__input.input--upload&attributes({
								type: "file",
								name: "original",
								id: "file-original"
							})
					.form__upload-block
						label.p Водяной знак 
						.upload-block__wrap
							//Стилизуем загрузку
							.upload-block__style
								.form__input.style__input Image.png
								.btn.btn--red.btn--upload
							//Само поле загрузки, opacity: 0
							input.form__input.input--upload&attributes({
								type: "file",
								name: "watermark",
								id: "file-watermark"
							})
				fieldset.form__block
					.block__header
						p.p Положение
						//Выбор типа наложения 
						.application-types
							button.btn.btn--four-marks.js-use-four 4 Вотермарка
							button.btn.btn--noe-mark.js-use-one 1 Вотермарк
					.positioning
						//Настройки для одного вотермарка 
						.positioning__block.block--coordinates
							.positioning__visual
								//Визуальное отображение расположения вотермарка
								table.visual__table
									body.table__body
										tr.visual__raw
											//При клике на кнопку будем сразу получать координаты кнопки в data атрибуте и интерпретировать касательно вотермарка
											td.visual__cell.cell--active
												button.btn.btn--set-cell.js-set-cord(data-cord="11")
													| 11
											td.visual__cell
												button.btn.btn--set-cell.js-set-cord(data-cord="12")
													| 12
											td.visual__cell
												button.btn.btn--set-cell.js-set-cord(data-cord="13")
													| 13
										tr.visual__raw
											td.visual__cell
												button.btn.btn--set-cell.js-set-cord(data-cord="21")
													| 21
											td.visual__cell
												button.btn.btn--set-cell.js-set-cord(data-cord="22")
													| 22
											td.visual__cell
												button.btn.btn--set-cell.js-set-cord(data-cord="23")
													| 23
										tr.visual__raw
											td.visual__cell
												button.btn.btn--set-cell.js-set-cord(data-cord="31")
													| 31
											td.visual__cell
												button.btn.btn--set-cell.js-set-cord(data-cord="32")
													| 32
											td.visual__cell
												button.btn.btn--set-cell.js-set-cord(data-cord="33")
													| 33
							.positioning__switch
								.switch__block
									p.p.p--big X
									input#x-cord.form__input.input--switch&attributes({
										type: "text",
										name: "xValue",
										value: "0"
									})
									.switch__controls
										button.btn.btn--control.btn--up.js-move-obj(data-direction="x-up") Больше
										button.btn.btn--control.btn--down.js-move-obj(data-direction="x-down") Меньше
									.switch__block
									p.p.p--big Y
									input#y-cord.form__input.input--switch&attributes({
										type: "text",
										name: "yValue",
										value: "0"
									})
									.switch__controls
										button.btn.btn--control.btn--up.js-move-obj(data-direction="y-up") Больше
										button.btn.btn--control.btn--down.js-move-obj(data-direction="y-down") Меньше	
						.positioning__block.block--borders
							.positioning__visual
								table.visual__table.table--borders
									body.table__body
										tr.visual__raw
											td.visual__cell
											td.visual__cell
										tr.visual__raw
											td.visual__cell
											td.visual__cell
								table.visual__table
									body.table__body
										tr.visual__raw
											td.visual__cell 
											td.visual__cell 
											td.visual__cell 
										tr.visual__raw
											td.visual__cell 
											td.visual__cell 
											td.visual__cell 
										tr.visual__raw
											td.visual__cell 
											td.visual__cell 
											td.visual__cell 
							.positioning__switch
								.switch__block
									p.p.p--big По вертикали
									input#y-border.form__input.input--switch&attributes({
										type: "text",
										value: "12",
										name: "yBorder"
									})
									.switch__controls
										button.btn.btn--control.btn--up.js-switch-border(data-border="y-b-up") Больше
										button.btn.btn--control.btn--down.js-switch-border(data-border="y-b-down") Меньше
									.switch__block
									p.p.p--big По горизонтали
									input#x-border.form__input.input--switch&attributes({
										type: "text",
										value: "12",
										name: "xBorder"
									})
									.switch__controls
										button.btn.btn--control.btn--up.js-switch-border(data-border="x-b-up") Больше
										button.btn.btn--control.btn--down.js-switch-border(data-border="x-b-down") Меньше
				fieldset.form__block
					.block__header
						p.p Прозрачность
						//TODO: Подключить default слайдер из jQuery UI и стилизовать его (http://jqueryui.com/slider/#default) 
						.opacity__slider				
				fieldset.form__block
					button.btn.btn--submit.btn--grey(type="reset") Сброс
					button.btn.btn--submit.btn--red(type="submit") Скачать
	footer#footer 
		p.p.p--small
			| &copy; 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его
