block result
	.generator__result
		h1.h1.js-app-name Генератор водяных знаков
		//чтобы показать таблицу из 4 элементов, добавь к result__block класс result-block--four
		.result__block
			.block__root
				//Если один вотермарк
				.block__watermark
					img.watermark__image(src = 'images/watermark.png', alt = "Вотермарк")
				//- Если вотермарков должно быть много
				//- .block__watermark.watermark--fill-in(style="display: none;")
				//- 	img.watermark__image(src = 'images/watermark.png', alt = "Вотермарк")
				img.root__image(src = 'images/root.jpg', alt = "Основная картинка")