block visual-box
	table.visual__box
		tbody.box__body
			tr.box__row
				td.box__cell.cell--active
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "0",
						"data-cord-y": "0"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "220",
						"data-cord-y": "0"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "440",
						"data-cord-y": "0"
					})
			tr.box__row
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "0",
						"data-cord-y": "155"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "220",
						"data-cord-y": "155"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "440",
						"data-cord-y": "155"
					})
			tr.box__row
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "0",
						"data-cord-y": "310"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "220",
						"data-cord-y": "310"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "440",
						"data-cord-y": "310"
					})
			