block visual-box
	table.visual__box
		tbody.box__body
			tr.box__row
				td.box__cell.cell--active
					button.btn--cell.js-set-cord&attributes({
						"data-cord": "11"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord": "12"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord": "13"
					})
			tr.box__row
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord": "21"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord": "22"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord": "23"
					})
			tr.box__row
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord": "31"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord": "32"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord": "33"
					})