.container__globals {
	position: absolute;
	top: 102px;
}

//Select Language
.globals__lang {
	margin: 0 0 1em;
	font-size: 2rem;
	color: color('grey');
}

.globals__btn {
	display: block;
	width: 43px;
	height: 34px;
	background-color: rgba(color('light-grey'), .7);
	border-bottom: 1px solid rgba(color('btn-border'), .75);
	color: color('grey');
	text-align: center;
	transition: all .25s ease-in-out;

	&:hover {
		color: color('dark-blue');
	}

	&:last-child {
		border-bottom: none;
	}
}

//Share in socials
.socials {
	transform: translate3D(-43px, 0, 0);
	transition: transform .3s ease-in-out;

	@extend %clearfix;

	@at-root .show--share & {
		transform: translate3D(0, 0, 0);
	}
}

.socials__list,
.btn--open {
	float: left;
}

.btn--socials {
	overflow: hidden;
	display: block;
	width: 43px;
	height: 42px;
	background: rgba(white, .6) url('../images/social-btns.png') no-repeat 0 0;
	text-indent: -9999px;
	transition: none;
}


.btn--fb {
	background-position: 0 0;

	&:hover,
	&:active {
		background-position: 0 -124px;
	}
}

.btn--tw {
	background-position: 0 -41px;

	&:hover,
	&:active {
		background-position: 0 -165px;
	}
}

.btn--vk {
	background-position: 0 -82px;

	&:hover,
	&:active {
		background-position: 0 -206px;
	}
}

.btn--open {
	width: 39px;
	background-position: -43px 0;

	&:hover,
	&:active {
		background-position: -43px -124px;
	}
}


.container__globals__active {
	.generator__result {
		background: #40444d;
	}
}