//StylejQuery UI Slider
.ui-slider {
    position: relative;
    margin: 25px 0 30px;
    width: 218px;
    height: 3px;
    background-color: color('range-bg');
    border-radius: 3px;
}

.ui-slider-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    margin: auto 0 auto -10px;
    width: 24px;
    height: 24px;
    background: transparent url('../images/thumb.png') no-repeat left top;
    outline: none;
    cursor: pointer;

    &:hover,
    &:active {
        background-position: left bottom;
    }
}

.slider--lower {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 80%;
    background-color: color('range-lower');
}

//======STYLES For input[type=range]
/*
.opacity__range {
    margin: 0 auto;
    width: 220px; //for FF
    border: 1px solid color('light-grey'); //for FF to hide outline
    //Webkit
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

.opacity__range::-webkit-slider-runnable-track {
    width: 220px;
    height: 3px;
    background-color: color('range-lower');
    border: none;
    border-radius: 1px;
}

.opacity__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: transparent url('../images/thumb.png') no-repeat left top;
    border-radius: 50%;
    border: none;
    margin-top: -10px;
    cursor: pointer;
}

.opacity__range::-webkit-slider-thumb:hover {
    background-position: left bottom;
}

//FF
.opacity__range::-moz-range-track {
    width: 220px;
    height: 3px;
    background-color: color('range-lower');
    border: none;
    border-radius: 1px;
}

.opacity__range::-moz-range-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: transparent url('../images/thumb.png') no-repeat left top;
    border-radius: 50%;
    border: none;
    margin-top: -10px;
    cursor: pointer;
}

.opacity__range::-moz-range-thumb:hover  {
    background-position: left bottom;
}

//Hide outline
.opacity__range:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

//IE10 
.opacity__range {
    margin-top: -12px\9;
}

.opacity__range::-ms-track  {
    width: 220px;
    height: 3px;
    background: transparent;
    border-color: transparent;
    border-width: 12px 0;
    color: transparent;
}

.opacity__range::-ms-fill-lower {
    background-color: color('range-lower');
    border-radius: 3px;
}

.opacity__range::-ms-fill-upper {
    background-color: color('range-bg');
    border-radius: 3px;
}

.opacity__range::-ms-thumb {
    height: 24px;
    width: 24px;
    background: transparent url('../images/thumb.png') no-repeat left top;
    border-radius: 50%;
    border: none;
    margin-top: 0;
    cursor: pointer;
}
*/