.block__header {
  position: relative;
  margin-bottom: 37px;
  height: 20px;
}

.application-types {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	margin: 0 0 -10px;
	height: 20px;
}

.btn--app-type {
  float: left;
  overflow: hidden;
  margin: 0 10px 0 0;
  width: 20px;
  height: inherit;
  @include graphics(-37px, 0px);
  transition: none;
  text-indent: -9999px;

  &:last-child {
	margin-right: 0;
  }
}

.btn--four-marks {
  background-position: -37px 0px;

 	&:hover {
		background-position: -77px 0px; 
  	}

	&.btn--active,
	&:active {
		background-position: -57px 0px; 
	}
}

.btn--one-mark {
	background-position: -37px -26px;
 	
 	&:hover {
		background-position: -77px -26px;
  	}

	&.btn--active,
	&:active {
		background-position: -57px -26px; 
	}
}

.positioning__block {
	@extend %clearfix;
}

.positioning__visual {
	position: relative;
	float: left;
}

//===VISUAL BOX
.visual__box {
	overflow: hidden;
	width: 100px;
	height: 100px;
	background-color: #dbe1e8;
	border: 1px solid #cbd4dd;
	border-radius: 3px;
	border-spacing: 0;
}

.box__cell {
	width: 33px;
	height: 33px;
	max-height: 33px;
	border: 1px solid color('input-color');
}

.cell--active {
	background-color: color('red');
}

//==VISUAL BOORDER
.visual__borders {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.border__line {
	position: absolute;
	overflow: hidden;
	text-indent: -9999px;
	line-height: 0;
	background-color: color('red');
}

.line--x {
	top: 0;
	bottom: 0;
	margin: auto;
	height: 5px;
	width: 100%;
}
.line--y {
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 100%;
	width: 15px;
}

.positioning__switch {
	float: right;
	width: 85px;
}

.switch__block {
	position: relative;
	float: right;
	margin: 0 0 10px;
	@extend %clearfix;

	.p, .input--switch, .switch__controls {
		float: left;
		margin: 0 5px 0 0;
	} 

	.p {
		width: 10px;
		line-height: 44px;
		text-align: center;
	}

	.switch__controls  {
		margin-right: 0;
	}
}

.block--vertical {
	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 100%;
		margin: auto 4px auto 0;
		width: 9px;
		height: 29px;
		@include graphics(-98px, 0);
		content: '';
	}
}

.block--horizontal {
	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 100%;
		margin: auto 4px auto 0;
		width: 29px;
		height: 9px;
		@include graphics(-37px, -50px);
		content: '';
	}
}

.input--switch {
	padding: 0;
	width: 44px;
	height: 44px;
	font-size: 2.4rem;
	text-align: center;
}

.switch__controls {
	position: relative;
	width: 15px;
	height: 46px;
}

.btn--control {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: inherit;
	height: 10px;
	@include graphics(0, -21px);
	transition: none;
}

.btn--up {
	top: 5px;

	&:hover {
		background-position: -19px -21px;
	}
}

.btn--down {
	bottom: 5px;
	background-position: 0 -51px;

	&:hover {
		background-position: -19px -51px;
	}
}

.block--hidden {
	display: none;
}