.form__upload-block {
	margin: 0 0 24px;

	@at-root .block--noborder & {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.upload-block__wrap {
	position: relative;
	cursor: pointer;
}	

.upload-block__style {
	height: 25px;
	line-height: 25px;
	width: 220px;
}

.input--upload {	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: $w-g-s - 2*20px;
	height: 25px;
	opacity: 0;
	cursor: pointer;
}

.style__input {
	float: left;
	padding: 0 5px;
	width: 180px - 2*5px;
	height: 25px;
	border-right: none;
	border-radius: 3px 0 0 3px;
	color: color('input-color');
	font-size: 1.2rem;
	line-height: 25px;

	&.loaded {
		color: color('deep-blue');
		font-weight: bold;
	}
}