.generator__result {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background: #5b535a;
	float: left;
	height: 670px;
	padding: 23px 26px 25px 24px;
	width: $w-g-r;
}