- var h1 = "Генератор водяных знаков"
- var h2 = "Настройки"

- var langItem = ["Рус", "Eng"]
- var socialItem = ["Facebook", "Twitter", "Vkontakte"]

- var footer = " &copy; " + " 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его"