head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Watermark App - Группа №2
	meta(name="description", content="")
	link(rel="stylesheet", href="css/styles.min.css")