/* font-family */

@font-face {
  
  font: {
    family: 'fira_sanslight';
    weight: 100;
    style: normal;
  }
  src: url('../fonts/firasans-light-webfont.eot');
  src: url('../fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/firasans-light-webfont.woff2') format('woff2'),
       url('../fonts/firasans-light-webfont.woff') format('woff'),
       url('../fonts/firasans-light-webfont.ttf') format('truetype');
}

@mixin fira_sanslight($font-size, $line-height) {

  font-family: "fira_sanslight", Arial, sans-serif;
  font-weight: 100;
  font-size: $font-size;
  line-height: $line-height;
}

@font-face {
  
  font: {
    family: 'SegoeUILight';
    weight: 100;
    style: normal;
  }
  src: url('../fonts/SegoeUI-Light.eot');
  src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SegoeUI-Light.woff') format('woff'),
       url('../fonts/SegoeUI-Light.ttf') format('truetype');
}

@mixin SegoeUILight($font-size, $line-height) {

  font-family: "SegoeUILight", Arial, sans-serif;
  font-weight: 100;
  font-size: $font-size;
  line-height: $line-height;
}

@font-face {
    font: {
      family: 'robotolight';
      weight: 100;
      style: normal;
    }
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype');
}
@mixin robotolight($font-size, $line-height) {

  font-family: "robotolight", Arial, sans-serif;
  font-weight: 100;
  font-size: $font-size;
  line-height: $line-height;
}

$ff_default: Arial, Helvetica, sans-serif;

$ff_fira_sanslight: fira_sanslight, Arial, Helvetica, sans-serif;
$ff_segoeui: SegoeUILight, Arial, Helvetica, sans-serif;
$ff_robotolight: robotolight, Arial, Helvetica, sans-serif;

/* font-size */
$fz_exlg: 36px;
$fz_lg: 26px;
$fz_big: 18px;
$fz_md: 14px;
$fz_sm: 12px;


/* color text */
$color_wh: #fff;

/* sprite */
@mixin graphics($pos-x, $pos-y) {
  background-image: url(../img/graphics.png);
  background-repeat: no-repeat;
  background-position: $pos-x $pos-y;
}

@mixin alignCell($pos-h, $pos-v) {
  text-align: $pos-h;
  vertical-align: $pos-v;
}