html, body {
	overflow: auto;
	min-width: 100%;
	min-height: 100%;
}

html {
	height: 100%;
	font-size: .625em;
}

body {
	position: relative;
	background: color('pink') url('../images/main-bg.jpg') no-repeat center center fixed;
	background-size: cover;
	color: color('deep-blue');
	@include robotolight(1rem, 1.5em);
	font-weight: 400;
}

h1 {
	font-size: fs(exlg);
	line-height: 1em;
}

h2 {
	font-size: fs(lg);
	line-height: 1em;
}

h3, p {
	font-size: fs(md);
	line-height: 1.3em;
}